            #contenedor {
                height: auto;
            }
            
            #cabecera {
                height: 100%;
                background-color: rgb(10, 9, 7);
            }
            
            #logo {
                background-color: rgb(10, 9, 7);
                height: 120px;
            }
            
            #logo img {
                height: 100%;
                margin-left: 25px;
            }
            
            #botonera {
                margin-top: 60px;
            }
            
            .menuhambur {
                background-color: rgb(10, 9, 7) !important;
            }
            
            .menuhambur ul a {
                color: #ffffff !important;
            }
            
            .menuhambur ul a:hover {
                background-color: rgb(10, 9, 7);
                border-radius: 15px;
                box-shadow: 0px 0px 30px #ffffff;
            }
            
            .navbar-toggler-icon {
                background-color: #ffffff;
            }
            
            #inicio {
                margin-top: 5px;
                background-color: rgb(4, 4, 4);
            }
            
            #inicio img {
                animation-name: ani-inicio;
                animation-duration: 6s;
            }
            
            @keyframes ani-inicio {
                0% {
                    opacity: 0.5;
                    -webkit-transform: scale(0.2);
                }
                100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                }
            }
            
            #galeria {
                margin-top: 5px;
                background-color: rgb(4, 4, 4);
                height: auto;
            }
            
            #portada1 {
                margin-top: 15px;
            }
            
            #portada2 {
                margin-top: 15px;
            }
            
            #portada1 img,
            #portada2 img {
                width: 100%;
                border: 3px solid #ffffff;
            }
            
            #fotos {
                height: auto;
                background-color: rgb(4, 4, 4);
            }
            
            #foto1,
            #foto2,
            #foto3,
            #foto4,
            #foto5,
            #foto6 {
                margin-top: 15px;
                margin-bottom: 10px;
                margin-left: 0;
                margin-right: 0;
            }
            
            #foto1 img,
            #foto2 img,
            #foto3 img,
            #foto4 img,
            #foto5 img,
            #foto6 img {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            
            #contacto {
                margin-top: 5px;
                background-color: rgb(4, 4, 4);
            }
            
            #info-contacto p {
                color: #ffffff;
                margin: 0px;
            }
            
            #personaje img {
                margin-left: 15%;
                margin-bottom: 10px;
                height: 50%;
            }
            
            #formulario,
            #copyright {
                background-color: rgb(4, 4, 4);
            }
            
            h2 {
                color: #ffffff;
            }
            
            h5 {
                margin-left: 10px;
            }
            
            #efecto {
                animation-name: efecto_boton;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
            
            @keyframes efecto_boton {
                0% {
                    opacity: 0.8;
                    -webkit-transform: scale(0.7);
                    background-color: #dd4b26;
                }
                100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    background-color: #5fc431;
                }
            }